*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    color: aliceblue;

}

nav{
    height: auto;
    background-color: rgb(88, 63, 29);
    
}

.box1{
    text-align: center;

}
.box2{
    background-color: wheat;
}

#Cmenu{
    display: flex;
  justify-content: space-around;
  background-color;
}

#botom{
    background-color: black;
    color: white;

}
#botom a{
    color: aliceblue;
     text-decoration: none;



}
.img{
    display:flex;
    justify-content: center;
    text-align: center;

}
 img{
    width: 170px;
    height: 200px;
    border: 4px solid navajowhite;
    border-radius: 30%;
    margin-bottom: 101px;
    margin-left: 100px;
    margin right: 100px;
}

.Espacio1{
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
}